.vscode/**
*.vsix
node_modules/pdfjs-dist/build/**
node_modules/pdfjs-dist/web/**
node_modules/pdfjs-dist/types/**
node_modules/pdfjs-dist/image_decoders/**
node_modules/pdfjs-dist/legacy/build/*.min.mjs
node_modules/pdfjs-dist/legacy/build/*.d.mts
node_modules/pdfjs-dist/legacy/build/pdf.sandbox.mjs
node_modules/pdfjs-dist/legacy/build/pdf.sandbox.min.mjs
node_modules/pdfjs-dist/*.md
